@import "../../../styles/settings.scss";

.post {
  margin: 0 100px;
  padding: 50px;
}

@media (max-width: 400px) {
  .post {
    padding: 10px;
    margin: 5px;
  }
  h3 {
    font-size: 1rem !important;
  }
}
